/* #region Core */
* {
    color: var(--font-color);
    font-family: var(--font-family);
    transition: all 0.25s ease;
}

html {
    overflow: hidden;
}

html,
body {
    max-width: 90%;
    padding: 30px;
    margin: 0px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: clamp(14px, 1.15vw, 24px);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30%;
    transform: translateX(61.5%);
    transition: all 1s ease-in-out;
}

div {
    user-select: none;
}

/* #endregion Core */
/*
*
*/
/* #region Buttons */
button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background: var(--secondary-color-50);
    border: 2px solid var(--primary-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background: var(--tertiary-color);
    color: #000;
}

/* #endregion Buttons */
/*
*
*/
/* #region Tables */
td {
    text-align: center;
}
/* #endregion Tables */
/*
*
*/
/* #region Header and Footer */
header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
footer {
    position: absolute;
}

h3 {
    color: var(--font-color-accent);
    pointer-events: none;
    user-select: none;
}
h2 {
    color: var(--font-color-accent);
    font-size: 1em;
    font-weight: var(--font-weight-bold);
    margin: 0;
}
p {
    color: var(--font-color-alt);
    font-size: 0.9em;
    margin: 0;
}
/* #endregion Header and Footer */