/* #region Background */
#background {
    position: fixed; /* Ensure the background stays in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    z-index: -1000;
    background-color: var(--secondary-color);
    background-size:auto;
    background-position: center;
    background-attachment: fixed; /* Create parallax base with CSS */
}
/* #endregion Background */
/*
*
*/
/* #region Body */
#main {
    display: flex;
}
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90%;
    min-width: 90%;
}
#menu, #results {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    min-height: 100px;
    border-radius: var(--border-radius);
    background: transparent;
    box-shadow: inset 0 0 20px var(--slate-20);
    backdrop-filter: blur(2px);
    --webkit-backdrop-filter: blur(2px);
}

#menu::before {
    content: "";
    position: absolute;
    inset: 0; /* shorthand for top: 0; right: 0; bottom: 0; left: 0 */
    pointer-events: none;
    z-index: 1; /* above background but below content unless you need otherwise */
}

#menu > h3 {
    position: absolute;
    margin: 0;
    bottom: 10px;
    left: -250px;
    font-size: 12rem;
    line-height: 0.5;
    filter: blur(125px);
    z-index: -1;
}

#filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

#filters > h3 {
    position: absolute;
    margin: 0;
    bottom: 10px;
    left: 10px;
    font-size: 12rem;
    filter: blur(1px);
    z-index: -1;
}
/* #endregion Body */
/*
*
*/
/* #region Search */
#search {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search_button {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-style: solid;
    border-width: 2px 2px 0 2px;
    border-color: var(--tertiary-color);
}
#progress_wrapper {
    border-width: 0px 2px 2px 2px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

/* #endregion Search */
/*
*
*/
/* #region Filters */
#custom_input_container {
    padding: 1rem;
}
#custom_input_container:hover h3 {
    color: var(--font-color-alt);
}
#custom_input_container h3 {
    margin: 0;
    margin-bottom: 0.5rem;
}
#input_container {
    min-height: 0px;
    padding: 0.25rem;
    border-radius: var(--border-radius);
    background-color: var(--background-color-alt);
}
#insert_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 0px;
    gap: 0.5rem;
    padding: 0.5rem;
}
#custom_input {
    width: 90%;
    margin-top: 0.5rem;
}
#filters_container {
    display: flex;
    scale: 1;
}
/* #endregion Filters */
/*
*
*/
/* #region Tabs */
#tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
}
#options_tab {
    border-top-left-radius: calc(var(--border-radius) * 4);
    border-bottom-left-radius: calc(var(--border-radius) * 4);
}
#results_tab {
    border-top-right-radius: calc(var(--border-radius) * 4);
    border-bottom-right-radius: calc(var(--border-radius) * 4);
}
/* #endregion Tabs */
/*
*
*/
/* #region Tooltip */
#tooltip {
    position: absolute;
    padding: 6px 10px;
    background: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    border-radius: calc(var(--border-radius) * 4);
    pointer-events: none;
    white-space: nowrap;
    z-index: 9999;
    display: none; /* Initially hidden */
}
/* #endregion Tooltip */